<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*"
        modules="httpPlatformHandler"
        resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="%HOME%\site\wwwroot\azure_run_play.bat"
      stdoutLogEnabled="true"
      stdoutLogFile="%HOME%\LogFiles\httpPlatformStdout">
      <environmentVariables>
        <environmentVariable
          name="JAVA_OPTS"
          value="-Djava.net.preferIPv4Stack=true -Dhttp.port=%HTTP_PLATFORM_PORT%"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
